<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %> 
      <!-- wedo  section -->
      <div class="wedo ">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                    <h2>Calculator de pret</h2>
                    <p>Poti calcula pretul inspectiei folosind formularul de mai jos:</p>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-10 offset-md-1">
                 <div class="row">
                    <div class="col-md-6 margin_bottom">
                       <div class="work">
                          <figure><img src="/images/img1.png" alt="#" /></figure>
                       </div>
                       <div class="work_text">
                          <h3>Quick repair<br><span class="blu">Total Service</span></h3>
                       </div>
                    </div>
                    <div class="col-md-6 margin_bottom">
                       <div class="work">
                          <figure><img src="/images/img2.png" alt="#" /></figure>
                       </div>
                       <div class="work_text">
                          <h3>Quick repair<br><span class="blu">Total Service</span></h3>
                       </div>
                    </div>
                    <div class="col-md-6 margin_bottom">
                       <div class="work">
                          <figure><img src="/images/img3.png" alt="#" /></figure>
                       </div>
                       <div class="work_text">
                          <h3>Quick repair<br> <span class="blu">Total Service</span></h3>
                       </div>
                    </div>
                    <div class="col-md-6 margin_bottom">
                       <div class="work">
                          <figure><img src="/images/img4.png" alt="#" /></figure>
                       </div>
                       <div class="work_text">
                          <h3>Quick repair<br><span class="blu">Total Service</span></h3>
                       </div>
                    </div>
                 </div>
                 <a class="read_more" href="#">See More</a>
              </div>
           </div>
        </div>
     </div>
     <!-- end wedo  section -->